<div class="section" id="extra-curicular">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="section-title mb-2 title" >
          <h2>More About Me</h2>
      </div>  
    
        <div class="nav-align-center">
          <p>I am a software developer, specialising in the app development arena.
            Since a long time, the field of IT has interested me and I try to discover the different aspects of the web
            development . <br><br>
            So for the last 3 years, I have been developing web applications using Spring Boot and Angular Frameworks.
            Currently employed as a FullStack software developer at SOFTParadigm and I’m hands on in all stages of the
            software development cycle, from planning and design to testing and deployment. <br><br>
            Something that I love about software development is the opportunity to work with people from a wide range of
            disciplines.</p>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-lg-4 col-md-12" *ngFor="let extra of extras">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href={{extra.url}}>
                  <figure class="cc-effect">
                    <img src={{extra.img}} alt="Image" />
                    <figcaption>
                      <div class="h4">{{extra.title}}</div>

                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
