<div class="section" id="education">
  <div class="container cc-education">

    <div class="section-title mb-4 title" >
      <h2>Education</h2>
  </div>  

    <div *ngFor="let data of educationData" class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <div class="h5">{{data.education}}</div>
            <p>{{data.from_to_year}}</p>
            <img *ngIf="data.imgUrl.length" [src]="data.imgUrl" height="50" alt="">
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{data.stream}}</div>
            <h4 class="category">{{data.institution}}
            </h4>
            <ul>
              <li> {{data.info}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>